# .dockerignore

# Исключаем служебные файлы Git
.git
.gitignore

# Исключаем временные файлы Python и кэш
__pycache__
*.pyc
*.pyo

# Исключаем файлы, которые создаются локально, но не нужны в контейнере:
# 1. Локальные базы данных (для PostgreSQL мы используем контейнер)
*.sqlite3

# 2. Локальное виртуальное окружение
venv/
env/

# 3. Докер-файлы, которые нужны только для сборки/управления
Dockerfile
docker-compose.yml
.dockerignore
